* {
    font-family: 'Montserrat', sans-serif;
    background-color: #9A9C8E;
}

.fieldsetPersonal {
    background-color: aliceblue;
}

.fieldsetQuizz {
    background-color: antiquewhite;
}

#navegação:link {
    color: blue;
}

#navegaçãoa:visited {
    color: greenyellow;
}

#navegação:active {
    color: aqua;
}

#navegação:hover {
    color: lime;
}


table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 25%;
    text-align: center;
}

.intro:first-child {
    font-weight: 300;
}