* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 50px 2fr 100fr;
    grid-template-columns: 20% 2fr 20%;
    grid-template-areas:
        'header header header'
        'aside main article'
        'footer footer footer'
    ;
}

header {
    grid-area: header;
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-image: url(images/sand.jpeg);
    background-size: cover;
    z-index: 1;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    grid-area: article;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: blueviolet;
    text-align: center;
}

nav{}

nav>a {
    text-decoration: none;
    padding: 20px;
}

nav>a:hover {
    color: gray;
    font-weight: bold;
}

.divViajar {
    height: 50vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12;
}

.divImagem {
    position: relative;
}

.imagem {
    width: 100%;
}

.pSobreImagem {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.capitais {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    padding: 50px;
    background-color: bisque;
}

.capitais>div {
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    display: inline-block;
    background-color: aliceblue;
}

.capitais img {
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.capitais p {
    padding-left: 10px;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.square {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgClip {
    position: relative;
    clip-path: circle(50%);
}

.imgClip:hover {
    visibility: hidden;
}

.imgZ {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}